.emp-wrapper {
  padding: 40px;
  min-height: 100vh;
}

.emp-card {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 25px;
  background: #ffffff;

  .title {
    font-weight: 700;
    color: #1a1a1a;
  }
}


