.allowance-wrapper {
  padding: 40px;
  min-height: 100vh;

  .allowance-card {
    border-radius: 12px;
    padding: 10px;

    .title {
      font-weight: 700;
      color: #1a1a1a;
    }

    .period-label,
    .radio-label {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 15px;
      cursor: pointer;

      input {
        cursor: pointer;
      }
    }


    .data-table {
      background: white;
      border-radius: 8px;
      overflow: hidden;

      td {
        padding: 10px 14px;
        font-size: 15px;
      }
    }
  }
}

/* ---------------- Popup Modal ---------------- */

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.custom-modal {
  width: 550px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.25);
  position: relative;
  max-height: 75vh;
  overflow: hidden;

  .modal-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .modal-close {
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 18px;
    cursor: pointer;
    color: #444;

    &:hover {
      color: #000;
    }
  }

  .modal-content {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 6px;

    table {
      width: 100%;

      td {
        padding: 10px 14px;
        border-bottom: 1px solid #eee;
      }

      tr:last-child td {
        border-bottom: none;
      }
    }
  }
}