.config-wrapper {
    padding: 40px;
    min-height: 100vh;
}

.config-card {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 25px;
    background: #ffffff;

    .title {
        font-weight: 700;
        color: #1a1a1a;
    }

    .sub-title {
        font-weight: 700;
        margin-top: 20px;
        color: #222;
    }

    .password-wrapper {
        position: relative;

        .password-input {
            padding-right: 40px;
        }

        .toggle-icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            cursor: pointer;
            color: #666;
            &:hover {
                color: #000;
            }
        }
    }

   
}